{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Confirm Email{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
{% include 'layouts/header.html' %}
<main class="main-password-reset">
    <section class="section-1-password-reset">
        {% if type == "reset" %}
        <h3>Send validation email</h3>
        <form action="{% url 'password_reset' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="button-password-reset">Send validation</button>
        </form>
        {% else %}
        <h3>Reset Password</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="button-password-reset">Reset password</button>
        </form>
        {% endif %}
    </section>
</main>
{% include 'layouts/footer.html' %}
{% endblock %}