.section-1-password-reset {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 8px;
    background-color: white;
}

.section-1-password-reset>form>div>input {
    border: 1px solid #dac5ff;
}

.section-1-password-reset>form>div>input:focus {
    border: 1px solid #5C00FD;
    box-shadow: 0 0 3px #5C00FD;
}


.button-password-reset {
    background-color: #5C00FD;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
}