* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f4f6;

}

.section-signin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}


.section-signin>div {
    padding: 0 40px;
    background-color: white;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.reset-password {
    margin-top: 30px;
    text-decoration: none;
    color: #5C00FD;
    font-weight: 600;
}

.section-signin>div>p {
    margin-top: 10px;
}

.section-signin>div>p>a {
    text-decoration: none;
    font-weight: 600;
    color: #5C00FD;
}

.form-signin>div>input {
    border: 1px solid #dac5ff;
}

.form-signin>div>input:focus {
    border: 1px solid #5C00FD;
    box-shadow: 0 0 3px #5C00FD;
}

#hint_id_password1,
#hint_id_password2 {
    display: none;
}

img {
    display: block;
    margin: 0 auto;
}


.button-signin {
    display: block;
    border: none;
    background-color: #5C00FD;
    color: white;
    padding: 8px 0;
    width: 100%;
    margin: 0 auto;
    border: 7px;
    border-radius: 7px;
}