* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f4f6;

}


.section-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}


.section-signup>div {
    padding: 0 40px;
    background-color: white;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section-signup>div>p {
    margin-top: 30px;
}

.section-signup>div>p>a {
    text-decoration: none;
    font-weight: 600;
    color: #5C00FD;
}

.form-signup>div>input {
    border: 1px solid #dac5ff;
}

.form-signup>div>input:focus {
    border: 1px solid #5C00FD;
    box-shadow: 0 0 3px #5C00FD;
}

#hint_id_password1,
#hint_id_password2 {
    display: none;
}

img {
    display: block;
    margin: 0 auto;
}


.button-create-user {
    display: block;
    border: none;
    background-color: #5C00FD;
    color: white;
    padding: 8px 0;
    width: 100%;
    margin: 0 auto;
    border: 7px;
    border-radius: 7px;
}


@media (max-width:1075px) {
    .section-signup>img {
        width: 45%;

    }
}


@media (max-width:775px) {
    .section-signup>img {
        display: none;
    }


    .section-signup {
        padding: 30px;
    }

    .section-signup>div {
        border-radius: 5px;
        padding: 0 40px;
        width: 100%;
    }
}


@media (max-width:450px) {
    .section-signup {
        padding: 30px 15px;
    }
}