@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {
    min-height: 100vh;
}


body {
    background-color: #f3f4f6;
}