footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2d3b50;
    padding: 60px 50px 20px;
    height: 300px;

}

footer>div>a {
    text-decoration: none;
    color: #9256fa;
    font-weight: 600;
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
}

footer>p {
    color: white;
    text-align: center;
}


@media (max-width:462px) {
    footer {
        padding: 60px 30px 20px;

    }

    footer>div>a {
        font-size: 2.1rem;
    }

    footer>p {
        font-size: 1rem;
        color: white;
        text-align: center;
    }
}